body {
    color:#343434;
    margin:0;
    padding:0;

}

img {

    width:300px;
}

a {
    color:#ffe66d;
}

header {

    background:#2f3061;
    color:#f7fff7;
}

.project {

    background:#f7fff7;
    

}
.project img {

    width:150px;
}

.work {

    background:#a1c6d7;
}

footer {
    background:#343434;
    color:#f7fff7;

}

.content-wrap {

    width:850px;
    margin:0 auto;
    padding: 60px 0;

}

h2 {
    margin:0;
    border-bottom:#f7fff7 inset 15px;
    text-align:center;
}
h3 {
    text-align:center;
}
