body {
	
    color:#343434;
    
    font-family: 'Montserrat', sans-serif;
    font-size:15px; 
    line-height: 1.5;

}

img {

    width:300px;
    border-top:solid lightcoral 8px;
    border-bottom:solid lightcoral 8px;
    float:right;


}

a {
    color:#ffe66d;
}

header {

    background:#2f3061;
    color:#f7fff7;
}

.project {

    background:#f7fff7;
    

}
.project img {

    width:150px;
}

.work {

    background:#a1c6d7;
}

footer {
    background:#343434;
    color:#f7fff7;

}

.content-wrap {

    width:850px;
    margin:0 auto;
    padding: 60px 0;
    

}

h2 {
    
    border-bottom:#f7fff7 inset 15px;
    text-align:center;
    font-size:45px;
    text-shadow:2px 2px lightcoral;
}
h3 {
    text-align:center;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin:0;
    word-break:keep-all;
    border: 1px solid black;
}

h1 {
    font-size: 100px;
    line-height:1;
   text-shadow: 2px 2px #ffe66d;
   text-align:center;
}

html {
    box-sizing: border-box;

}


ul {
    border:1px solid black;
    list-style:none;
    margin:0;
    padding:0;
    widows: 200px;
    text-align:center;
}

li {
    text-align:center;
    border-bottom:1px solid black;
    list-style:none;
    display:inline;

}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    text-align:center;
      }

      .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      .dropdown {
        float: left;
        overflow: hidden;
      }

      .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit; 
        margin: 0; 
      }

      .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: red;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      
      
.form {
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	width:35%;
	align-content:center;
	padding-bottom:20px;
	padding-left:250px;
	
}
	
	
input {
	[type="text"]
	box-sizing:border-box;
	overflow:hidden;
	flex: 2 0 25px;
	text-overflow:ellipsis;
}

	
		
.contact {
	border-bottom:solid black 5px;
}


.grid-container {
	display:grid;
	grid-template-columns: auto auto auto;
	background-color:antiquewhite;
	padding:10px;
}
.grid-item {
	background-color:none;
	border:1px solid black;
	padding:20px;
	text-align:center;
}